<% form_for @partner do |f| %>
  <%= f.error_messages %>
<div class="left_side">
  <p>
    <%= f.label :name %> :
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %> :
    <%= f.text_field :url %>
  </p>
</div>
<div class="right_side">
  <p>
    <%= f.label :published %> :
    <%= f.check_box :published %>
  </p>
</div>
<div class="clear"></div>
  <p>
    <%= f.label :description %> (textile)<br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
