<% form_for user do |f| %>
	<%= f.error_messages %>
	<p>Email : <%= f.text_field :email %></p>
	<p>Login : <%= f.text_field :login %></p>
	<p>Password : <%= f.password_field :password %></p>
	<p>Password Confirmation : <%= f.password_field :password_confirmation %></p>
	<p><%= f.submit "Submit" %></p>
<% end %>