<div class="short_event">
	<h3>
		<% if event.published && current_user %>
			<%= image_tag("/images/icons/status.png", :title => "Published", :alt => "P", :border => 0) %>
		<% elsif current_user %>
			<%= image_tag("/images/icons/status-offline.png", :title => "Draft", :alt => "D", :border => 0) %>
		<% end %>
		<%= link_to event.title, event, :class => "title" %> <span class="pdate">@ <%= event.updated_at.strftime("%d/%m/%Y") %></span>
		<% if current_user %>
			<%= link_to image_tag("/images/icons/pencil-small.png", :title => "Edit", :alt => "E", :border => 0), :action => "edit", :id => event.id %>
			<%= link_to image_tag("/images/icons/bin-metal-full.png", :title => "Delete", :alt => "D", :border => 0), event, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</h3>
	<ul class="tags">
		<% for tag in event.tag_list %>
			<li><%= link_to image_tag("/images/icons/tag-label.png", :title => "tag", :alt => nil, :border => 0) + " #{tag}", :action => "index", :tag => tag %></li>
		<% end %>
	</ul>
	<p>
		<%= event.content(:plain).slice(0,250) %> <%= link_to("Lire plus ...", event, :class => "more")%>
	</p>
</div>