<div class="event">
<h2><%= @event.title %> <span class="pdate">@ <%= @event.e_date.strftime("%d/%m/%Y %H:%M") %></span></h2>
<ul class="tags">
	<% for tag in @event.tag_list %>
		<li><%= link_to image_tag("/images/icons/tag-label.png", :title => "tag", :alt => nil, :border => 0) + " #{tag}", :action => "index", :tag => tag %></li>
	<% end %>
</ul>
<p>
  <%= @event.content %>
</p>
<p>
	<% if @event.doc.exists? %>
		Fichier : <%= link_to image_tag("/images/icons/document-pdf.png", :title => nil, :alt => nil, :border => 0), @event.doc.url %>
	<% end %>
</p>

</div>