<% form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %> :
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %> :
    <%= f.text_field :url %>
  </p>
	<p>
		<%= f.label :tags %> :
		<%= f.text_field :tag_list %>
	</p>
	  <p>
	    <%= f.label :published %> :
	    <%= f.check_box :published %>
	  </p>
  <p>
    <%= f.label :description %> (textile)<br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
