<% form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
<div class="left_side">
  <p>
    <%= f.label :title %> :
    <%= f.text_field :title %>
  </p>
	<p>
		<%= f.label :tags %> :
		<%= f.text_field :tag_list %>
	</p>
	<p>
		<%= f.label :file %> :
		<%= f.file_field :doc %>
	</p>
</div>
<div class="right_side">
	  <p>
	    <%= f.label :published %> :
	    <%= f.check_box :published %>
	  </p>
</div>
<div class="clear"></div>
  <p>
    <%= f.label :content %> (textile)<br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
