
<p class="intro">Arbousier.info propose des services de développement et d'administration sous technologies OpenSource / Libres.</p>
<p class="intro">Les solutions que nous proposons reposent sur les technologies suivantes :</p>

<div id="technos">
	<div class="techno">
		<h2>Ruby</h2>
		<p class="icon"><%= link_to image_tag("/images/ruby.png", :title => "Ruby", :alt => "Ruby", :border => 0, :height => "40px"), "http://ruby-lang.org" %></p>
			<p class="text">Ruby, et ses multiples frameworks de développement (<%= link_to "RubyOnRails", "http://rubyonrails.org" %>, <%= link_to "Sinatra", "http://www.sinatrarb.com/" %>, ...), donnent aux développeurs plus de souplesse et d'efficacité que des langages web plus traditionnels. Les projets sont donc réalisés différement, parfois plus vite et sont surtout plus facilement maintenables. Associés à des serveurs web de nouvelle génération (<%= link_to "Thin", "http://code.macournoyer.com/thin/" %>, <%= link_to "Nginx", "http://nginx.org/" %>) et des bases de données robustes (Postgresql) Ruby n'est plus un saut dans le vide : c'est un choix juste dans un environnement en plein changement.
			</p>
	</div>
	<div class="techno">
		<h2>Debian</h2>
		<p class="icon"><%= link_to image_tag("/images/debian.png", :title => "Ruby", :alt => "Ruby", :border => 0, :height => "40px"), "http://www.debian.org"%></p>
			<p class="text">
				Parmis les distributions GNU/Linux non commerciales, Debian est sûrement la plus utilisée avec CentOS. Base sur laquelle a poussé Ubuntu, Debian est reconnue par la plupart des administrateurs comme une solution sûre et efficace pour la plupart des besoins.
			</p>
	</div>
			<div class="techno">
				<h2>Postgresql</h2>
				<p class="icon"><%= link_to image_tag("/images/postgresql.png", :title => "Ruby", :alt => "Ruby", :border => 0, :height => "40px"), "http://www.postgresql.org" %></p>
					<p class="text">
						Moins connu que MySQL, Postgresql n'en est pas moins un des moteurs de base de données les plus utilisés notament dans les applications cartographiques. Robuste et taillé pour supporter de gros volumes de données il convient aussi pour des applications plus modestes.
					</p>
			</div>
</div>

<div id="more">
	<p>
		Développement à la carte, adaptation d'un de nos projets existants, mise en place d'une infrastructure complète (parefeu, serveurs de fichiers, courrier, sauvegarde, ...) contactez nous pour plus de détails.
	</p>
	<h2>Contact</h2>
	<p>Thomas Riboulet : riboulet@arbousier.info.</p>
</div>
