<div id="login">
<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p><%= image_tag("/images/icons/user-silhouette-question.png", :title => "Login or email", :alt => nil, :border => 0) %><%= f.text_field :login %></p>
  <p><%= image_tag("/images/icons/key-solid.png", :title => "Password", :alt => nil, :border => 0) %><%= f.password_field :password %></p>
  <p><%= f.submit "Login" %></p>
<% end %>
</div>